{% extends "base.html" %}

{% block title %}
<title>{{ term.name }} - {{ config.title }}</title>
{% endblock title %}

{% block header %}
<header>
<div class="site-title"><a href="{{ config.base_url | safe }}/">{{ config.title }}</a></div>
<p class="site-description">{{ config.description }}</p>
</header>
{% endblock header %}

{% block content %}
<h1 class="title">{{ term.name }}</h1>

{% if term.name -%}
<p class="small">{{ term.name }}: 全 {{ term.pages | length }} 件</p>
{%- endif %}

<ul class="list-none p0">
{% for page in term.pages -%}
  <li><span class="date">{{ page.date | date(format="%Y-%m-%d") }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
{% endfor -%}
</ul>
{% endblock content %}
