{% extends "base.html" %}

{% block title %}
  <title>{{ config.title }}</title>
{% endblock title %}

{% block content %}
<h1 class="title">This is my blog made with Zola.</h1>

<p>Click <a href="./blog/">blog here</a> to see my posts.</p>

<p><img src="./images/1920x1080.jpg" alt="イメージ 画像1"></p>



<h2>Zola</h2>

<p>クイックスタート</p>

<ul>
<li><a href="https://www.getzola.org/documentation/getting-started/overview/" target="_blank" rel="nofollow noopener noreferrer">Overview</a></li>
</ul>



<h2>公式サイト</h2>

<p>静的サイトジェネレーターとCSSフレームワーク</p>

<ul>
<li><a href="https://www.getzola.org/" target="_blank" rel="nofollow noopener noreferrer">Zola</a></li>
<li><a href="https://purecss.io/" target="_blank" rel="nofollow noopener noreferrer">Pure</a></li>
</ul>

{% endblock content %}
